


.main_header_div {
    align-items: center;
    background-color: rgb(6, 6, 55);
    display: flex;
    padding: 10px 20px;
    border-radius: 8px;
}

.header_left_side {
    display: flex;
    align-items: center;
    width: 50%;
}

.header_left_side img {
    width: 100px;
    height: 60px;
    border-radius: 6px;
}

.header_left_side label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ba2424;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header_right_side {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_right_side input {
    width: 70%;
    max-width: 250px;
    padding: 2px 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background-color: aliceblue;
    outline: none;
    transition: 0.2s ease;
}

.header_right_side input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px #8cc8ff;
}






.left_side .top_section {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.weather_icon {
    width: 300px;
}

.temp {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    align-items: center;
    font-display: block;
}

.sun_section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sun_rise_box,
.sun_set_box {
    background-color: #f1f1f1;
    padding: 50px 60px;
    border-radius: 40px;
    text-align: center;
}

.sun_rise_box .title,
.sun_set_box .title {
    font-weight: bold;
    font-size: 40px;
    color: #444;
    margin-bottom: 5px;
}

.sun_rise_box .value,
.sun_set_box .value {
    font-size: 22px;
    font-weight: 600;
}



.main_section {
    align-items: center; 
}

.right_side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.grid-container {
    display: grid;
    justify-content:space-between;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(3, 130px);
    gap: 10px;
}

.grid-box {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

.value {
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
